<footer class="navbar-dark bg-primary">
	<div class="row" style="padding: .5rem">
		<div class="col-4">
			<a href="https://sqa.stackexchange.com" class="btn btn-outline-info">Ask Questions</a>
		</div>
		<div class="col-4">
			<div class="text-center" style="color: white; margin-top: 1rem;">&copy; <%= new Date().getFullYear() %> <a href="http://timothycope.com">Timothy Cope</a></div>
		</div>
		<div class="col-4">
			<a style="float: right;" href="https://www.astqb.org/get-certified/istqb-software-tester-certification-exam-registration/" class="btn btn-outline-success">Get Certified</a>
		</div>
	</div>
</footer>