<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>SDET|QA - Free Online SDET and QA Training</title>
      <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.min.css" %>" rel="stylesheet">
   </head>
   <body>
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="page-header">
                  <h1>SDET|QA</h1>
               </div>
               <div class="jumbotron">
                  <h1 class="display-3">Free Online SDET and QA Training</h1>
                  <blockquote class="blockquote">"Less seems to be known about software testing than about any other aspect of software development."
				      <p class="mb-0"></p>
					  <footer class="blockquote-footer">Glenford J. Meyers in <cite title="The Art of Software Testing, 3rd Edition (2011)">The Art of Software Testing</cite></footer>
				  </blockquote>
				  <hr class="my-4">
                  <p>SDET|QA offers free, online SDET and QA training materials and tools. Select a category below to get started.</p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col">
               <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Software Development Engineer in Test</div>
                  <div class="card-body">
                    <h4 class="card-title" style="text-align: center;"><a class="btn btn-info btn-sm" style="width: 75%" href="/sdet">SDET</a></h4>
                    <blockquote class="blockquote">
						<p class="mb-0">Software Development Engineer in Test (SDET) is a hybrid of a software tester and a developer to automate the testing itself. The title and acronym originated from Microsoft in 2005. Apple and Amazon also use the SDET job title; while Google prefers SET (software engineer in test) for a similar role.</p>
						<footer class="blockquote-footer">'Software Development Engineer in Test' from <cite title="From Wikipedia, the free encyclopedia">Wikipedia</cite></footer>
					</blockquote>
                  </div>
               </div>
            </div>
            <div class="col">
               <div class="card text-white bg-primary mb-3">
                  <div class="card-header">Quality Assurance</div>
                  <div class="card-body">
                     <h4 class="card-title" style="text-align: center;"><a class="btn btn-info btn-sm" style="width: 75%;" href="/qa">QA</a></h4>
                     <blockquote class="blockquote">
						<p class="mb-0">Quality Assurance (QA) is a way of preventing mistakes or defects in manufactured products and avoiding problems when delivering solutions or services to customers; which ISO 9000 defines as "part of quality management focused on providing confidence that quality requirements will be fulfilled".</p>
						<footer class="blockquote-footer">'Quality assurance' from <cite title="From Wikipedia, the free encyclopedia">Wikipedia</cite></footer>
					</blockquote>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>
