<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>SDET|QA - Free Online QA Training</title>
		<link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.min.css" %>" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-header">
						<h1>SDET|QA</h1>
					</div>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="./" title="Return to Home Page">SDET|QA</a></li>
						<li class="breadcrumb-item active">Free Online SDET Training</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="card mb-3">
						<h1 class="card-header">Free Online SDET Training</h1>
						<div class="card-body">
							<h5 class="card-title">Step-By-Step Walkthroughs</h5>
							<h6 class="card-subtitle text-muted">Select one of the sections below to get started.</h6>
						</div>
						<img style="display: block; margin: auto; min-height: 200px; width: 60%;" src="http://timothycope.com/wp-content/uploads/2018/02/sdet.png" alt="Card image">
						<div class="card-body">
							<p class="card-text"><strong>Table of Contents</strong></p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<a href="./framework">Getting Started with Our Free Framework</a>
							</li>
							<li class="list-group-item">Automate API Tests</li>
							<li class="list-group-item">Automate Mobile Application Tests</li>
							<li class="list-group-item">Automate Web Application Tests</li>
						</ul>
						<div class="card-body">
							<a href="https://sqa.stackexchange.com" class="card-link">Ask Questions</a>
							<a style="float:right;" href="https://www.astqb.org/get-certified/istqb-software-tester-certification-exam-registration/" class="card-link">Get Certified</a>
						</div>
						<div class="card-footer">
							<a class="text-muted" href="mailto:Consulting@TimothyCope.com" title="Report an issue">Report an issue</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>